doctype html
html
  head
    title Kindle Display
    link(href='http://fonts.googleapis.com/css?family=Arimo', rel='stylesheet', type='text/css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chartist.css')
    meta(name="viewport", content="width=1072")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="white")
    script(src="/javascripts/chartist.js")
  body
    block content