*
  box-sizing border-box
  margin 0
  padding 0

body
  font-size: 14px
  font-family: Arial;

a
  color: #00B7FF

#canvas
  position relative
  height 800px
  width 600px
  background-color white

#status
  position absolute
  left 5%
  right 5%
  top 2%
  #awigo
    text-align right
    strong
      font-size 1.6rem
      color white
      background-color #333
      border-radius 6px
      text-align middle
      display inline-block
      margin 0 0.3em
      padding 0.18em 0.3em
      line-height 1em
      font-weight normal
      vertical-align top

#current
  position absolute
  left 0
  top 0
  height 50%
  width 50%
  img
    display block
    margin-top -10%
    width 100%
  p
    margin-top -30%
    font-size 100px
    padding-left 0.25em
    text-align center

#today
  position absolute
  left 50%
  top 0
  width 50%
  height 50%
  padding 50px 30px
  font-size 40px

  #rain
    position relative
    margin-top 20px
    img
    .ct-chart
      display inline-block
      vertical-align top
    .ct-chart
      margin-top -10px
    img
      width 27px
      margin-right 5px
    &:after
      content attr(data-rain)
      position absolute
      color black
      left 0px
      top 17px
      font-size 13px
      width 27px
      font-weight 600
      text-align center
    &:before
      content "%"
      position absolute
      color black
      left 0px
      top 3px
      font-size 12px
      width 32px
      font-weight bold
      text-align right

  #house
    left 25%
    position absolute
    width 50%
    bottom 30%
  #bypass
    right 25%
    position absolute
    width 11%
    bottom 37%
    background-color white
    border-bottom 3px solid white
    border-top 3px solid white
  .temp
    left 27%
    position absolute
    width 50%
    bottom 35%
    font-size 1.3em
    text-align center
  .speed
    right 26%
    position absolute
    bottom 31.5%
    font-size 0.5em

#forecast
  position absolute
  left 0
  top 40%
  padding 15px
  height 60%
  width 100%
  h2
    font-weight normal
    font-size 1.3rem
    color #333
    strong
      font-size 1.2rem
      color white
      background-color #333
      border-radius 6px
      text-align middle
      display inline-block
      margin 0 0.3em
      padding 0.18em
      line-height 1em
      font-weight normal
      vertical-align top
      margin-top -0.05em
    .moon
      text-align middle
      display inline-block
      height 1.3rem
      margin -0.05em 0.2em 0
  section
    display inline-block
    width (100/5)%
    vertical-align top
    text-align center
    height 500px
  img
    display block
    margin 0 auto
    max-width 100%
    max-height 100%
  .range
    position relative
    height 280px
    margin 1rem 0
    width 100%
  .inner
    position absolute
    bottom 0%
    left 33%
    right 33%
    background-color #444
    border-radius 20px
  .min
  .max
    font-size 1.4rem
    position absolute
    text-align center
    width 100%
    left 0.2em
  .max
    top -1.6em
  .min
    position absolute
    bottom -1.9em
